<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>local.nameguard.app</string>
<key>CFBundleName</key><string>NameGuard</string>
<key>CFBundleExecutable</key><string>nameguard</string>
<key>CFBundleVersion</key><string>2</string>
<key>CFBundleShortVersionString</key><string>1.1</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>LSUIElement</key><true/>
<key>NSDesktopFolderUsageDescription</key><string>바탕화면의 한글 파일명을 NFC로 정규화합니다.</string>
</dict></plist>
